{% extends 'budget/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 50%);">
        <div class="card container">
            <div class="card-header" style="font-size: 20px; text-transform: uppercase; background: none">
                <h5>Changement de mot de passe réussit</h5>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    <a href="{% url 'dashboard' %}"><strong>Revenir à la page d'acceil</strong></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

