{% extends 'budget/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div style="background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(239,239,239,1) 50%);">
        <div class="card container">
            <div class="card-header" style="font-size: 20px; text-transform: uppercase; background: none">
                <h5>Changement de mot de passe</h5>
            </div>
            <div class="card-body">
                <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{% url 'dashboard' %}">Annuler</a>
                        </div>
                        <div class="col-md-6 text-right">
                            <input class="btn btn-info" type="submit" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}